body {
    font-family: 'Abel', sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}
